.frequent{
/* border: 2px solid white; */
width: 20rem;
margin-left: 18rem;
color: #bdb9b9;
}
.names{
    width: 44rem;
    height: 20rem;
    
    margin-left: 17rem;
    background-color: #222325;
    border-radius: 1rem;
}
.image{
    height: 3.5rem;
    width: 3.5rem;
    margin-top: 2rem;
    margin-left: 2rem;
}
.subname{
    display: flex;
}
.sub{
    /* display: inline; */
    margin-top: 2rem;
}
.sub h3{
   color:#bdb9b9 ;
   margin-top: 4.2rem;
   margin-left: 2rem;
   display: inline;
}

.sub p{
    color:#bdb9b9 ;
    /* margin-top: 4.2rem; */
 margin-left: 2rem;
 font-size: 0.8rem;
 }

 .contact{
    width: 44rem;
    height: 20rem;
    margin-top: 2rem;
    margin-left: 17rem;
    /* background-color: #222325;
    border-radius: 1rem; */
 }

 .contactcontent{
    display: inline;
    
 }

 .contactcontent h2{
    display: inline;
    color:#bdb9b9 ;
 }
 .contactcontent p{
    display: inline;
    color:#bdb9b9 ;
    margin-left: 28rem;
    
 }
 .colors{
    /* display: inline; */
    width: 44rem;
    height: 7rem;
    margin-top: 2rem;
    margin-left: 3rem;
    /* border: 2px solid white; */
     display: flex;
 }
 .subdiv{
    width: 9rem;
    height: 2rem;
    border: 2px solid rgb(224, 182, 30);
    margin-top: 1rem;
    margin-left: 2rem;
    /* display: flex; */
   padding-bottom: 2rem;
   border-radius: 1rem;
   background-color: #221e15;

 }
 .subdiv1{
   width: 9rem;
   height: 2rem;
   border: 2px solid rgb(31, 104, 45);
   margin-top: 1rem;
   margin-left: 2rem;
   /* display: flex; */
  padding-bottom: 2rem;
  border-radius: 1rem;
  background-color: #221e15;

}

.subdiv2{
   width: 9rem;
   height: 2rem;
   border: 2px solid rgb(177, 53, 128);
   margin-top: 1rem;
   margin-left: 2rem;
   /* display: flex; */
  padding-bottom: 2rem;
  border-radius: 1rem;
  background-color: #221e15;

}

 .subdiv h3{
   color: rgb(224, 182, 30);
   margin-left: 3rem;
  
 }
 .subdiv1 h3{
   color: rgb(31, 104, 45);
   margin-left: 3rem;
  
 }
 .subdiv2 h3{
   color: rgb(177, 53, 128);
   margin-left: 3rem;
  
 }

 @media only screen and (max-width: 1180px) {
   .frequent{
      margin-left: 2rem;
      }
      .names{
         width: 20rem;
         height: 20rem;
         
         margin-left: 1.4rem;
         background-color: #222325;
         border-radius: 1rem;
     }   

     .contact{
      width: 44rem;
      height: 20rem;
      margin-top: 2rem;
      margin-left: 2rem;
      /* background-color: #222325;
      border-radius: 1rem; */
   }
   .contactcontent p{
      display: inline;
      color:#bdb9b9 ;
      margin-left: 6rem;
   }
   .colors{
      /* display: inline; */
    
    width: 20rem;
      height: 7rem;
      margin-top: 2rem;
      margin-left: 0rem;
      margin-right: 6rem;
      /* border: 2px solid white; */
       /* display: flex; */
   }
   .subdiv{
      width: 6rem;
      height: 0.5rem;
      border: 2px solid rgb(224, 182, 30);
      /* margin-top: 1rem; */
      margin-left: 0rem;
      /* margin-right: 7rem; */
      text-align:top;
     padding-bottom: 3rem;
     border-radius: 1rem;
     background-color: #221e15;
    
  
   }

   .subdiv1{
      width: 6rem;
      height: 0.5rem;
      margin-top: 1rem;
      margin-left: 0.5rem;
      padding-bottom: 3rem;
    
   
   }
   
   .subdiv2{
      width: 6rem;
      height: 0.5rem;
      margin-top: 1rem;
      margin-left: 0.5rem;
      padding-bottom: 3rem;
   }

   .subdiv h3{
      
      margin-left: 1rem;
     
    }
    .subdiv1 h3{
     
      margin-left: 1rem;
  
      
     
    }
    .subdiv2 h3{
     
      margin-left: 1rem;
     
    }
 }